body{
  font-family: 'Lato',sans-serif;
}

header{
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cv-header__name{
  font-size: 52px;
  font-weight: bold;
}

.cv-header__about-me{
  font-size: 24px;
}

img{
  width: 200px;
  height: 267px;
  border: 10px solid black;
}


.rate-button__starhref {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
  stroke: url(#gradient);
  fill: none;
  text-align: center;
  cursor: pointer;
}
.rate-button__star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}

.rate-button__rate-stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.rate-button__input {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

.fillgrad{
  fill: url(#gradient);
}


